footer
  white-space         nowrap

.page-header
  h1
    white-space       wrap
    
.news-feed
  .excerpt
    -ms-text-overflow ellipsis
    text-overflow     ellipsis
    white-space       nowrap
    overflow          hidden
    
.modal .modal-danger .modal-header
  background              hsl(2, 65%, 58%)
  border-top-right-radius 3px
  border-top-left-radius  3px